{{ define "main" }}
    <meta property="og:url" content="https://gleam.io/GN1cM/the-continue-project-kickoff"/>
    <meta property="og:title" content="The Continue Project Kick-off Giveaway">
    <meta property="og:image" content="https://d36eyd5j1kt1m6.cloudfront.net/user-assets/1665908/0WLL6a3L66vSfe1g/wbcb-csharp-blackheather.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image:src" content="https://d36eyd5j1kt1m6.cloudfront.net/user-assets/1665908/0WLL6a3L66vSfe1g/wbcb-csharp-blackheather.png"/>
    <meta property="fb:app_id" content="152351391599356"/>
    <meta property="og:description" content="To celebrate the launch of The Continue Project and to encourage as many devs and engineers to join the conversation as we can, let's giveaway some merch and what-not.">
    
    <main aria-role="main">
        <div>
            <h1>Launch Giveaway</h1>

            <p align="center">
                Enter the launch giveaway below for your chance to win!
            </p>

            <ul>
                <li style="text-align:left;"><b>Main Prize</b> (1 Winner):
                    <ul>
                        <li>1 Year Subscription to <a href="https://www.pluralsight.com/" target="_blank">Pluralsight</a></li>
                        <li>Your choice of 1 piece of project merch (hat, shirt, mug, etc.)</li>
                    </ul>        
                </li>
                <li style="text-align:left;"><b>Consolation Prizes</b> (4 Winners):
                    <ul>
                        <li>Your choice of 1 piece of project merch (hat, shirt, mug, etc.)</li>
                        <li>My eternal gratitude</li>
                    </ul>
                </li>
            </ul>


            <div class="post">
                <div class="post-content">
                    <a class="e-widget no-button" href="https://gleam.io/GN1cM/the-continue-project-kickoff" rel="nofollow">The Continue Project Kick-Off</a>
                    <script type="text/javascript" src="https://widget.gleamjs.io/e.js" async="true"></script>
                </div>
            </div>
        </div>
    </main>
{{ end }}
