{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            <div class="post">
                <div class="post-content">
                    <p>
                        We are developers, engineers, and technologists who <code>recognize the importance of mental health</code> 
                        in our lives and <code>support each other</code> with resources and space for discussion as colleagues and friends.
                    </p>
                
                    <br/>
                    
                    <h2 style="justify-content: center;">Step 1: Join the Conversation</h2>

                    <p align="center">
                        <a class="button brand-green" href="https://discord.gg/KMQUHZQpjd" target="_blank">Join the Discord Community</a>                        
                    </p>
                    
                    

                </div>
            </div>

            {{- with .Site.Params.social }}
                <div style="justify-content: center;">
                    <h2 style="justify-content: center;">Step 2: Spread the Word</h2>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <div class="post">
                <div class="post-content">
                    <h2 style="justify-content: center;">Step 3: Continue</h2>

                    <p align="center">
                        Keep striving. Keep growing. Never give up.
                    </p>

                    <br/>                    
                
                    <p align="center">
                        <a class="button button-wide brand-pink" href="https://www.opencounseling.com/suicide-hotlines" target="_blank">If you need help immediately, click here to find a Suicide Hotline in your country.</a>                        
                    </p>
                </div>
            </div>
            

            
        </div>
    </main>
{{ end }}
