{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            <div class="post">
                <div class="post-content">
                    <p>
                        We are developers, engineers, and technologists who <code>recognize the importance of mental health</code> 
                        in our lives and <code>seek to improve it together</code> as a community of colleagues and friends.
                    </p>
                </div>
            </div>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}


            <div class="post">
                <div class="post-content">
                    <p align="center">
                        <a class="button button-wide brand-pink" href="https://www.opencounseling.com/suicide-hotlines" target="_blank">If you need help immediately, click here to find a Suicide Hotline in your country.</a>                        
                    </p>
                </div>
            </div>
            

            
        </div>
    </main>
{{ end }}
